---
const {color, title, subtitle, subtitle2, parrafo} = Astro.props
const textColor = `text-${color}`
---
<section 
    class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
    data-header-color={color}
    >
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class={`${textColor} pt-40 text-[40px] font-bold`}>
                {title}
            </h2>
            <p class={`${textColor} text-xl font-medium`}>
                {subtitle}
            </p>
            <p class={`${textColor} text-md pt-2`}>
                {subtitle2}
            </p>
        </header>
        
        <footer class="flex flex-col flex-grow justify-end">
            <slot name="footer"/>
            <div class="pb-20 text-xs pt-4">
                {parrafo}
            </div>
            
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <slot name="background"/>
    </div>

</section>